<div id="container">
	<main>
		<h1 class="text-3xl font-bold text-center mt-12 mb-2">About me</h1>
		<p class="text-lg font-normal mx-16">Hello! I'm FowluhhDev, also known as FowluhhProd, FowluhhVR, or just Fowluhh. I am a hobbyist programmer, YouTuber, and musician based in the United States. I program games mostly, but I also create other fun things as well, since I am learning Rust and improving on my current JavaScript skill. I compose many sub-genres of Electronic music, such as Dubstep, Drum and Bass, and Dance, really just the stuff you'd hear at a party or a club. For YouTube? I don't really have many plans for it now, though I might try it as a career someday just for the heck of it. I've created a small game development team I call Downright Studios, most of my games are published under that name, as it's been a commitment of mine to keep a small fanbase around me and my team's creations. I also like to draw digital art alongside everything else I do, and I enjoy gaming as well.</p>

		<h1 class="text-3xl font-bold text-center mt-12 mb-2">Links</h1>
		<p class="text-lg font-normal text-center"><a href="https://www.youtube.com/@fowluhhdev/" class="text-red-600">YouTube</a><br></p>
		<p class="text-lg font-normal text-center"><a href="https://www.youtube.com/@fowluhhprod/" class="text-red-600">Producer YouTube</a><br></p>
		<p class="text-lg font-normal text-center"><a href="https://www.youtube.com/@fowluhhvr/" class="text-red-600">VR YouTube</a><br></p>
		<p class="text-lg mt-3 font-normal text-center"><a href="https://bsky.app/profile/fowluhhdev.bsky.social" class="text-blue-500">Personal Bluesky</a><br></p>
		<p class="text-lg font-normal text-center"><a href="https://bsky.app/profile/downright-studios.bsky.social" class="text-blue-500">Downright's Bluesky</a><br></p>
		<p class="text-lg mt-3 font-normal text-center"><a href="https://open.spotify.com/artist/2q1T8RdUsXavR6ZIQrqjAD?si=Yw0B6UzuSf61T6aSER_eGQ/" class="text-green-500">Spotify</a><br></p>
		<p class="text-lg mt-3 font-normal text-center"><a href="https://fowluhhdev.itch.io/" class="text-rose-600">Personal itch.io</a><br></p>
		<p class="text-lg font-normal text-center"><a href="https://downrightgames.itch.io/" class="text-rose-600">Downright's itch.io</a><br></p>
	</main>
</div>
