---
import '@fontsource-variable/inter';

import { getImage } from 'astro:assets'
import faviconSrc from '../images/favicon.png'
import faviconSvgSrc from '../images/favicon.svg'

const appleTouchIcon = await getImage({
  src: faviconSrc,
  width: 180,
  height: 180,
  format: 'png'
})
const faviconSvg = await getImage({ src: faviconSvgSrc, format: 'svg' })
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" sizes="32x32" />
		<link rel="icon" href={faviconSvg.src} type="image/svg+xml" />
		<link rel="apple-touch-icon" href={appleTouchIcon.src} />
		<link rel="manifest" href="/manifest.json" />
		<meta name="generator" content={Astro.generator} />
		<title>fowluhh.dev</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		font-family: 'Inter';
		margin: 0;
		width: 100%;
		height: 100%;
		overflow: hidden
	}
</style>
